body {
    margin: 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #284B63;
    color: aliceblue;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title {
    text-align: center;
}
.options img {
    margin-top: 5%;
    max-width: 200px;
}
.options button {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    outline: none;
    margin: 20px;
}
.options button:hover, .recharge:hover {
    box-shadow: 0 0 30px rgba(255, 0, 0);
}

#resultado {
    font-size: 1.8em;
    margin: 20px 0;
}
.recharge {
    padding: 10px 30px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid aliceblue;
    color: black;
    font-size: 2em;
    text-decoration: none;
}

.footer {
    color: snow;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.footer p{
    margin: 10px;
    margin-right: 30px;
}
.footer a{
    color: snow;
}
@media (max-width: 425px){
    .options img {
        max-width: 130px;
    }
    .footer {
        justify-content: center;
    }

}
@media (max-width: 375px){
    .options img {
        max-width: 120px;
    }
    #resultado {
        font-size: 1.8em;
    }

}

@media (max-width: 320px){
    .title h1{
        font-size: 1.8em;
    }
    .options img {
        max-width: 90px;
    }
}

